NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
CMS_PROVIDER=strapi
STRAPI_API_URL=http://localhost:1337
STRAPI_API_TOKEN=
WORDPRESS_API_URL=
WORDPRESS_API_USER=
WORDPRESS_API_APP_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
MAILCHIMP_API_KEY=
MAILCHIMP_AUDIENCE_ID=
MAILCHIMP_SERVER_PREFIX=us1
